.view-path-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  
  button {
    background-color: #BDB76B;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8B4513;
  }

  .path-data-container {
    max-height: 200px; /* Adjust this value based on your design */
    overflow: auto; /* Add a scrollbar if the content overflows */
    padding: 10px; /* Optional: Add padding for better aesthetics */
}

.path {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Impede a quebra de linha */
}

span {
  margin-right: 5px;
}

/* Style the arrow */
span::after {
  content: '\2192'; /* Unicode arrow character */
}

/* Hide arrow on the last element */
span:last-child::after {
  content: '';
}