<body>
    <section>
        <div class="Header text-center"> 
            <h1 class="text-center">
                UNAUTHORIZED 
            </h1>
        </div>

    </section> 

    <section class="text-center">
        <h2 class="text-center">
            You are not authorized to access this page!
        </h2> 
        <br>
        <h3 class="text-center">
            Please contact the administrator.
        </h3> <br>
        <!--Button to return to the homepage -->
        <div class="container">
        <a routerLink="/" routerLinkActive="active" class="btn">Go to Home</a>
    </div>
    </section> <br><br><br>
</body>
