/* inhibit-robot-container.css */

.inhibir-robot-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.inhibir-robot-container h2 {
  text-align: center;
  color: #ddd;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

/* Style for the input, textarea, and button */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #BDB76B;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8B4513;
}

/* Style for floor details */
.slide {
  display: flex;
  flex-wrap: wrap;
}

.robot-slide {
  flex: 1 1 200px; /* Adjust as needed */
  margin: 10px;
}

.robot-square {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.robot-square:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Additional styling as needed */
