<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade - RobDroneGo</title>
</head>
<body>
    <h1>Política de Privacidade</h1>

    <h2>Recolha de Informação e Dados Pessoais</h2>
    <p>Para poder utilizar os serviços da aplicação RobDroneGo são necessários a recolha e o tratamento de alguns dados pessoais no registo de uma conta na plataforma. Para isso, recolhemos as seguintes informações:</p>
    <ul>
        <li>- <b>Dados de identificação:</b> Primeiro e último nome;</li>
        <li>- <b>Dados Personalizados:</b> username;</li>
        <li>- <b>Dados de Contacto:</b> E-mail, número de telefone, Nif;</li>
        <li>- <b>Dados de imagem/áudio:</b> Gravações recolhidas pelos robots de vigilância.</li>
    </ul>

    <h2>Tratamento e Finalidade dos Dados Recolhidos</h2>
    <p>Ao fazer o signup (registo de utilizador) terão de ser introduzidos os seguintes dados:</p>
    <ul>
        <li>- <b>Primeiro e último nome</b>, para identificação da pessoa que está a usar o sistema;</li>
        <li>- <b>Username</b>, para ser mostrado na aplicação como identificação do utilizador;</li>
        <li>- <b>E-mail</b>, para informar de novidades, faturação, receber estatísticas e confirmações;</li>
        <li>- <b>Número de Telefone</b>, para ser um método secundário de comunicação, por exemplo, para receber notificações de início e conclusão de tarefas ou para alertar de eventos ocorridos no desempenho da tarefa;</li>
        <li>- <b>Nif</b>, para fins de faturação, caso pedido pelo utilizador no pagamento da prestação de um serviço pelos robots;</li>
        <li>- <b>Gravações</b>, com o objetivo de serem utilizadas caso se verifique algum incidente no local e horário em que foram feitas, com vista à segurança dos utilizadores e investigação.</li>
    </ul>
    <p>Apenas o username será público, os restantes servirão apenas para o correto funcionamento da aplicação, nunca sendo partilhados com outros utilizadores.</p>

    <h2>Prazo de conservação dos Dados Pessoais</h2>
    <p>Conforme as disposições do Regulamento Geral de Proteção de Dados (RGPD), os dados pessoais serão mantidos enquanto forem considerados relevantes e necessários para a utilização contínua da aplicação, ou seja, enquanto o utilizador estiver inscrito nos serviços do ISEP.</p>

    <h2>Eliminação de uma conta e revocação do consentimento </h2>
    <p>Caso assim o deseje, é permitido ao utilizador revocar o seu consentimento e eliminar permanentemente os seus dados de todo o sistema, a qualquer momento. A partir daí, nenhum dos seus dados vai estar visível para outros utilizadores e para os administradores do sistema. É possível ainda solicitar a retificação desses dados. </p>

    <h2>Direitos de utilizador </h2>
    <p>O utilizador possui diversos direitos em relação aos seus dados:</p>
    <ul>
        <li>- <b>Direito de Informação</b>, seguindo o artigo 13º do RGPD, o utilizador tem sempre disponível na aplicação os contactos do responsável pelo tratamento e proteção de dados, as finalidades e fundamentos para o seu tratamento, os destinatários dos dados pessoais e caso exista, a intenção de transferência dos dados pessoais a terceiros. Adicionalmente, o período de conservação também é referido, bem como a existência dos direitos a seguir referidos;</li>
        <li>- <b>Direito de Informação</b>, quando os dados não são recolhidos junto do titular, semelhante ao artigo 13º, na vertente de informação, ou seja, caso os dados não sejam recolhidos junto ao titular, este mantém o direito de ser informado do seu tratamento, com o prazo de informação sendo razoável, mais tardar um mês, na primeira comunicação ao titular dos dados ou aquando da primeira divulgação desses dados;</li>
        <li>- <b>Direito de Acesso</b>, seguindo o artigo 15º do RGPD, o utilizador pode a qualquer momento obter uma cópia dos seus dados e obter informações relativas à política de privacidade, referidas acima no “Direito de Informação”;</li>
        <li>- <b>Direito de Retificação</b>, seguindo o artigo 16º do RGPD, o utilizador tem o direito de retificar os seus dados inexatos, sem demoras injustificadas;</li>
        <li>- <b>Direito ao Apagamento</b>, seguindo o artigo 17º do RGPD, o utilizador tem o direito de pedir o apagamento dos seus dados pessoais e que estes sejam completamente eliminados, exceto no exercício da liberdade de expressão e informação, ao cumprimento de uma obrigação legal a que o titular esteja sujeito, por motivos de interesse público, de arquivo e para efeitos de declaração e defesa de um direito num processo judicial;</li>
        <li>- <b>Direito à Limitação do Tratamento</b>, seguindo o artigo 18º do RGPD, o utilizador tem o direito de que os seus dados tenham um tratamento limitado ao período indicado, que não sejam tratados se o tratamento for ilícito e na pendência de um pedido de oposição. Estes podem continuar a ser tratados se houver consentimento, ou se for necessário para efeitos judiciais, defesa de direitos ou interesse público;</li>
        <li>- <b>Direito de Portabilidade dos Dados</b>, seguindo o artigo 20º do RGPD, o utilizador tem o direito de recolher os seus dados e enviá-los para outras entidades, sem que o responsável pelos dados pessoais o possa impedir.</li>
        <li>- <b>Direito à Minimização de Dados</b>, seguindo o artigo 25º do RGPD, garantimos a implementação de medidas técnicas e organizacionais, incluindo a minimização de dados, para assegurar que apenas os dados pessoais necessários para cada finalidade específica do processamento sejam processados. Essa abordagem visa garantir a proteção dos direitos e privacidade dos titulares, praticada na recolha de dados pessoais e filmagens.</li>
    </ul>
    <p>Estes direitos podem ser exercidos através do menu “Account” na barra de navegação da aplicação.</p>

    <h1>Termos de Uso</h1>

    <h2>Cadastro e Utilização da plataforma</h2>
    <p>O utilizador concorda em fornecer informações precisas e verdadeiras durante todo o processo. A RobDroneGo não se responsabiliza por danos causados pela utilização indevida da conta de utilizador (por exemplo compartilhar a conta com terceiros) ou dos serviços da aplicação e do ISEP (utilização indevida dos equipamentos).</p>

    <h2>Responsabilidade pela conta</h2>
    <p>O utilizador é responsável pela confidencialidade da sua senha e outras informações da conta. Caso haja suspeita de uso não autorizado, deve notificar-nos imediatamente.</p>

    <h2>Privacidade e Dados Pessoais</h2>
    <p>Ao utilizar a plataforma, o utilizador concorda com a recolha e o tratamento dos dados pessoais conforme descrito na Política de Privacidade.</p>

    <h1>Responsável pelo Tratamento dos Dados Recolhidos</h1>
    <address>
        <strong>Nome:</strong> RobDroneGo<br>
        <strong>Morada:</strong> Rua Dr. António Bernardino Almeida, 431<br>
        <strong>Localização:</strong> Porto, Portugal<br>
        <strong>Email: </strong> <a href="mailto:robdronego@isep.ipp.pt">robdronego@isep.ipp.pt</a>
    </address>
</body>
</html>
