<div class="auth-container">
    <h2>Log-in</h2>

    <form (submit)="logIn()">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">

        <label for="password">Password:</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required [(ngModel)]="password">
        </div>

        <button type="submit">LogIn</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</div>
