<body>
    <section>
        <div class="Header text-center"> 
            <h1 class="text-center">
                404 
            </h1>
        </div>

    </section> 

    <section class="text-center">
        <h2 class="text-center">
            Looks like you're lost!
        </h2> 
        <br>
        <h3 class="text-center">
            The page you are looking for is not available.
        </h3> <br>
        <!--Button to return to the homepage -->
        <a routerLink="/" routerLinkActive="active" class="btn">Go to Home</a>
    </section> <br><br><br>
</body>
